#postamble p, #preamble p { font-size: 90%; margin: .2em; color: white;}
blockquote {border:1px solid black; padding-right: 10px; padding-left: 10px;}
#content { width: 90%; margin-left: auto; margin-right:auto; border: 1px solid black; padding:40px; margin-top:40px; margin-bottom:40px; background:white; text-align:left;}
#navigation { width: 12%; margin-left: auto; margin-right:auto; border: 1px solid black; padding:40px; margin-top:40px; margin-bottom:40px; background:white; text-align:right;}
